body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
}

fieldset {
    margin-bottom: 15px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #0a7cff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #055fc1;
}

#resultado {
    max-width: 500px;
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}
